<!DOCTYPE html>
<html>
    <head>
        
    </head>
    
    <body>
        <p>You have received an email from the RoR contact form :D <br>
            From <%= #{ @name }, #{ @mail } %></p>
        <p><%= #{ @body }</p>
    </body>
</html>